<h1>Person Form</h1>

<%= form_for @person do |f| %>
  <%= f.label :name, "Person name:" %> 
  <%= f.text_field :name %> 
  <br>
  <br>

  <h3>Address:</h3>
  <%= f.fields_for :addresses do |addr| %>
    <%= addr.label :street_address_1, "Street Address 1:" %> 
    <%= addr.text_field :street_address_1 %>
    <br>
    <br>
    <%= addr.label :street_address_2, "Street Address 2:" %> 
    <%= addr.text_field :street_address_2 %>
    <br>
    <br>
    <%= addr.label :city, "City:" %>
    <%= addr.text_field :city %>
    <br>
    <br>
    <%= addr.label :state, "State:" %>
    <%= addr.text_field :state %>
    <br>
    <br>
    <%= addr.label :zipcode, "Zipcode:" %>
    <%= addr.text_field :zipcode %>
    <br>
    <br>
    <%= addr.label :address_type, "Address type:" %>
    <%= addr.text_field :address_type %>
    <br>
    <br>
  <% end %>

 <%= f.submit %>
<% end %>

